 html {
	height: 100%;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 90%;
  padding: 5% 50px 0 50px;
}

a {
  color: #00B7FF;
}

#email-app {
	height: 90%;
}

#email-app > .row-fluid {
	height: 100%;
	min-height: 385px;
	margin-bottom: 0;
}

#email-app .nav-container {
	height: 100%;
}

#email-app .nav-container a {
	color: #444;
}

#email-app .nav-container .active {
	color: #fff;
}

#email-app .nav-container .active:hover {
	color: #2996CC;
	text-shadow: none;
}

.sidebar-nav {
  height: 90%;
	overflow-x: hidden;
	overflow-y: auto;
  padding: 9px 0;
}

#actions {
  margin-bottom: 10px;
}

#folders {
  width: 100%;
}

#folders .folder-btn {
  margin-right: 0;
  padding: 4px 5.5%;
  width: 73%;
}

#folders .dropdown-toggle {
  width: 5%;
  padding: 4px 5.25%;
}

#folders .dropdown-menu {
  width: 100%;
}

#folders .dropdown-menu .active a, #folders .dropdown-menu a:hover {
	color: #fff;
}

.nav-list li ul {
  list-style-type: none;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 4px;
  text-indent: none;
}

.email-msg .from {
  float: left;
  font-size: 14px;
  font-weight: bold;
}

.email-msg .date{
  float: right;
  font-size: 11px;
}

.email-msg .subj {
  clear: both;
  font-weight: bold;
  font-size: 12px;
}

.email-msg .desc {
  /* customize later if need be */
}

/* Current Msg */
#msg-list {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background-color: whiteSmoke;
	margin-bottom: 30px;
	padding: 10px 20px;
}

.msg-headers ul {
	border-bottom: 1px solid #ddd;
	font-size: 12px;
	list-style-type: none;
	padding-bottom: 25px;
}

.msg-headers em {
	color: #888;
	display: inline-block;
	font-weight: bold;
	text-align: right;
	margin-right: 7px;
	width: 60px;
}

.msg-actions {
	margin-top: -25px;
	text-align: center;
}

.msg-actions .btn-group {
	margin: 0 auto;
	width: 230px;
}

.msg-actions .btn-group .btn {
	color: #08C;
	font-size: 10px;
}